sse-handler/node_modules
extension-token-machine/target
extension-token-machine/.idea
extension-token-machine/runtime/target
extension-token-machine/deployment/target
manager-service/.idea
client-orders/.idea
manager-service/.idea
terraform/terraform
terraform/.terraform
terraform/variables.tf
terraform/terraform.tfstate*
pizza-store/extension-token-machine/.idea/
